fastapi>=0.100.0
uvicorn>=0.20.0
androguard>=4.0.0
sqlalchemy>=2.0.0
python-multipart
aiofiles
pydantic-settings
firebase-admin>=7.1.0
google-cloud-firestore>=2.12.0
scikit-learn
joblib
pandas
xgboost
numpy
python-jose[cryptography]
